<div class="input-group mb-3 new-depart">
    <span class="headline">{{isEditDepartment ? 'Edit ' + form.value.title : 'Create new department'}}</span>
    <i class="material-icons icon-close" [routerLink]="['']">highlight_off</i>
    <form class="" [formGroup]="form" (ngSubmit)="saveDepartment()">
      
        <div class="form-group">
          <label>Title</label>
          <input (input)='closeErrorBusy()' type="text" class="form-control input-title" placeholder="Title" formControlName='title'>
            <small class="validation" *ngIf="form.get('title').invalid && form.get('title').touched && form.get('title').errors.required ">
              The field can`t be empty
            </small>   
            <small class="validation" *ngIf="this.validationTitle === false">
              Title `{{form.get('title').value}}` is busy
            </small> 
        </div>
  
        <div class="form-group">
          <label>Describe</label>
          <input type="text" class="form-control" placeholder="Describe" formControlName='describe'>
        </div>
  
        <button class="btn btn-success btn-save" type="submit" [disabled]="form.invalid">Save</button>
      </form>

      <div class="alert" [class.alert-success]="isSuccesAlert" [class.alert-danger]="!isSuccesAlert"  role="alert" *ngIf="textAlert">
        <strong>{{textAlert}}</strong> 
      </div>
</div>




<!-- <div class="input-group mb-3 new-depart">
    <span class="headline">{{isEditDepartment ? 'Edit ' + department.title : 'Create new department'}}</span>
    <i class="material-icons icon-close" [routerLink]="['']">highlight_off</i>
    <div class="edit-title">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Title</span>
        </div>
        <input type="text" class="form-control" [(ngModel)]="department.title" placeholder="{{isEditDepartment ? department.title : 'Department name'}}" aria-label="Имя пользователя" aria-describedby="basic-addon1">
    </div>

    <div class="edit-desctribe">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Describe</span>
        </div>
        <textarea class="form-control" aria-label="With textarea" [(ngModel)]="department.describe" placeholder="{{isEditDepartment ? department.describe : 'Department describe'}}"></textarea>
    </div>
    <button type="button" class="btn btn-dark btn-save" (click)='saveDepartment()'>Save</button>
</div> -->