.section{
    margin: 30px auto;
    width: 60%;
}

.section i{
    cursor: pointer;
}

.section-type{
    font-size: 20px;
    padding: 0 5px;
    position: absolute;
    top: 6%;
    left: 20%;
    z-index: 1;
}

.btn-create{
    width: auto;
    height: 5%;
    text-align: center;
    line-height: 0;
    position: absolute;
    top: 6%;
    right: 20%;
    z-index: 1;
}

.employee{
    display: flex;
    justify-content: space-between;
}

.employee-fields span{
    margin-right: 10px;
}

.template{
    margin: 100px;
    opacity: .6;
}

.spinner{
    position: absolute;
    top: 35%;
    left: 49%;
    z-index: 1000;
}
