.section{
    margin: 30px auto;
    width: 60%;
}

.section i{
    cursor: pointer;
}

.section-type{
    font-size: 20px;
    padding: 0 5px;
    position: absolute;
    top: 6%;
    left: 20%;
    z-index: 1;
}

.employee{
    display: flex;
    justify-content: space-between;
}

.employee-fields span{
    margin-right: 10px;
}

.template{
    margin: 100px;
    opacity: .6;
}

.spinner{
    position: absolute;
    top: 35%;
    left: 49%;
    z-index: 1000;
}

.alert{
    position: absolute;
    top: 35%;
    left: 50%;
    z-index: 1500;

    transform: translateX(-50%);
    width: 50%;
    text-align: center;
}

.blockControl{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;

    position: absolute;
    top: 4%;
    right: 20%;
    z-index: 1;
}

.btn-search{
    height: 37px;
    text-align: center;
    line-height: 1;
    margin-right: 2px;
}

.inputFilter{
    width: auto;
}

